



<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-pink scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbRippleRadius>
              <a href="#" class="nav-link" [routerLink]="['']">Home <span class="sr-only">(home)</span></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a href="#" class="nav-link" [routerLink]="['test']">test</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
                <a href="#" class="nav-link" [routerLink]="['weer']">Weer Component</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a href="#" class="nav-link" [routerLink]="['weer2']">Weer2 Component</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a href="#" class="nav-link" [routerLink]="['random']">random Component</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a href="#" class="nav-link" [routerLink]="['workout']">Workout Component</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                    <a href="#" class="nav-link" [routerLink]="['music']">Music Component</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a href="#" class="nav-link" [routerLink]="['map']">Map Component</a>
                </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
            <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->


<!-- /.Main -->
      
<!--/.Double navigation-->

<!--Main Layout-->
<main>
  <div class="container" style="height:1300px;">
      <div class="row mt-5 pt-5">
          <div class="col text-center">
            Hier komen de componenten:
           
           
           
            <router-outlet></router-outlet>
          
        
        
        
        
        
        
        
        
        
        </div>
      </div>
  </div>
</main>
<!--/Main layout-->
      